label {
  display: block;
  margin: 0.25rem, 0rem;
}

.modal-body {
  padding: 2em;
}

// label {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   margin-bottom: 10px;
// }

// input {
//   height: 20px;
//   flex: 0 0 200px;
//   margin-left: 10px;
// }
