    <div class="card">
<div>
    <div class="card-header">
    <h4>
      Asset Calibration List&nbsp;<span class="badge badge-primary">{{ rows.length }}</span>
      <button  style=" padding:8px;margin:15px auto;width:10%;" [disabled]="!disabledDelButton" class="float-sm-right btn btn-danger btn-sm" (click)="deleteRow()"><b>Delete Row &nbsp;&nbsp;</b><i class="fa fa-trash-can"></i></button>
      <button style=" padding:8px;margin:15px 10px;width:10%;" (click)="test()" class="float-sm-right btn btn-green btn-sm" ><b>Add Asset&nbsp;&nbsp;</b><i class="fa fa-circle-plus"></i></button>
      
    </h4><small>
        <a href="javascript:void(0)" (click)="table.rowDetail.expandAllRows()">Expand All</a>
        |
        <a href="javascript:void(0)" (click)="table.rowDetail.collapseAllRows()">Collapse All</a>
      </small>
</div>
      <div class="card-ngx-datatable table-responsive">
    <ngx-datatable
      #myTable
      class="material expandable"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="rows"
      [limit]="10"
      [selected]="selected"
      [selectionType]="SelectionType.single"
      (activate)="onActivate($event)"
      (page)="onPage($event)"
    >
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>        
                    <div>
                      <ngx-datatable 
                      #myDaughter 
                      class="material striped" 
                      [columnMode]="ColumnMode.force" 
                      [headerHeight]="40" 
                      [rows]="getDetailRows(row)"
                      [rowHeight]="'auto'" 
                      [loadingIndicator]="loadingIndicator" 
                      [externalPaging]="false">
                        <ngx-datatable-column name="Calibration Number" prop="Calib_no"></ngx-datatable-column>
                        <ngx-datatable-column name="Start Date" prop="Start_date"></ngx-datatable-column>
                        <ngx-datatable-column name="End Date" prop="End_date"></ngx-datatable-column>
                        <ngx-datatable-column name="Company Name" prop="Company_name"></ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                </ng-template>
      </ngx-datatable-row-detail>

      <!-- Column Templates -->
      <ngx-datatable-column
        [width]="20"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="true"
      >
      <ng-template
          let-column="column"
          ngx-datatable-header-template>
          <i class="fa fa-maximize"></i>
        </ng-template>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a
            href="javascript:void(0)"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)"
          >
          </a>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Asset Number" prop="Asset_no">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <p>{{ value }}</p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Asset Description"  prop="Asset_desc">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <p>{{ value }}</p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Category"  prop="Category">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
           <p>{{ value }}</p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Location"  prop="Location">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
           <p>{{ value }}</p>
        </ng-template>
      </ngx-datatable-column>
     
    </ngx-datatable>
  </div>
</div>
</div><br><br>
  