<h4>General Report</h4><br>
<div class="row">
    <div class="row justify-content-center">

    <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Faulty/Missing Asset</h5>
        <p class="card-text">From Master list </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Assets</h5>
          <p class="card-text">From Asset list </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Total Entry</h5>
              <p class="card-text">From Master list</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

    </div>
</div>