<br><h4>General Report</h4>
<div class="row">
<div class="row justify-content-center">

    <div class="col-sm-4">
    <div class="card bg-light" style="width: 25rem;display: flex;">
      <div class="card-body">
        <h5 class="card-title">Faulty/Missing Asset<span class="badge bg-info" style="margin-left:4em">{{missing}}</span></h5>
        <p class="card-text">From Master list</p>

        <!-- <a href="/master-list" class="btn btn-primary">View data</a> -->
      </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="card bg-light" style="width: 25rem; display: flex;">
        <div class="card-body">
          <h5 class="card-title">Total Assets<span class="badge bg-info">{{assetData.length}}</span></h5>
          <p class="card-text">From Asset list </p>
          <!-- <a href="/asset-list" class="btn btn-primary">View data</a> -->
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card bg-light" style="width: 25rem; display: flex;">
            <div class="card-body">
              <h5 class="card-title">Total Entry<span class="badge bg-info">{{masterData.length}}</span></h5>
              <p class="card-text">From Master list</p>
              <!-- <a href="/master-list" class="btn btn-primary">View data </a> -->
            </div>
          </div>
        </div>
      </div>
    
</div>
<br>
<br>
<br>
<app-audit-datatable></app-audit-datatable>