<p>modify-master-modal works!</p>
 <!-- UNUSED -->
<div class="modal-header">
    <h5 class="modal-title">
      Modify Existing User<br>
      <small class="text-muted">Please enter the user details.</small>
    </h5>
  </div>
  <div class="modal-body">
    <form [formGroup]="modifyMasterForm">
      <!-- <div class="form-group">
        <label class="form-label">ID</label>
        <input type="text" formControlName="id" class="form-control" readonly>
      </div> -->
  
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">ID: </label>
        <div class="col-sm-2">
          <input type="text" readonly class="form-control-plaintext" [class.is-valid] id="staticEmail" disabled formControlName="id" >
        </div>
      </div>
  
      <div class="form-group">
        <label class="form-label">First Name</label>
        <input type="text" formControlName="firstname" class="form-control"
          [class.is-invalid]="modifyMasterForm.get('firstname').touched && modifyMasterForm.get('firstname').errors?.['required']"
          placeholder="firstname">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Last Name</label>
        <input type="text" formControlName="lastname" class="form-control"
          [class.is-invalid]="modifyMasterForm.get('lastname').touched && modifyMasterForm.get('lastname').errors?.['required']"
          placeholder="lastname">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Email</label>
        <input type="text" formControlName="email" class="form-control"
          [class.is-invalid]="modifyMasterForm.get('email').touched && modifyMasterForm.get('email').errors?.['email']"
          placeholder="example@domain.com">
        <small class="invalid-feedback">
          Please enter a valid email address.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Password</label>
        <input type="text" formControlName="password" class="form-control"
          [class.is-invalid]="modifyMasterForm.get('password').touched && modifyMasterForm.get('password').errors?.['required']"
          placeholder="password">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <!-- <label class="form-label">Role</label>
        <input type="text" id = "role" list="role_selectOptions" (change)="saveCode($event)"  class="browser-default custom-select form-control" placeholder="Select User Role">
              <datalist id="role_selectOptions">
              <option *ngFor="let c of role_selectOptions" [value]="c.name" >{{c.name}}</option>
              </datalist>
        <small class="invalid-feedback">
          This field is required.
        </small> -->
      </div>
    </form>
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-primary" [disabled]="!modifyMasterForm.valid"
      (click)="activeModal.dismiss('save'); this.updateMaster()">Save</button>
      <button type="button" class="btn btn-grey" (click)="activeModal.dismiss('cancel');">Cancel</button>
   
  </div>