<!-- Default form register -->
<div class="col-md-6 mx-auto"> 
<form class="border border-grey p-5">
    <p class="h4 mb-4">Entry Form</p><hr>
    <div class="container">

    <div class="form-row mb-4">
        <div class="col-6">
            <!-- First name -->
            <label for="assetNumber">Asset Number:</label>
            <input type="text" id = "assetNumber"  list="codes" (change)="saveCode($event)"  class="browser-default custom-select" placeholder="Asset no.">
            <datalist id="codes">
            <option *ngFor="let c of codeList" [value]="c.name" >{{c.name}}</option>
            </datalist>
        </div>
    </div>

     <!-- E-mail -->
     <label for="assetDesc">Asset Description: </label>
     <input type="email" id="assetDesc" class="form-control mb-4" placeholder="Asset name">

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <label for="takenBy">Taken By:</label>
        <input type="text" id = "takenBy"  list="names" (change)="nameCode($event)"  class="browser-default custom-select" placeholder="Taken by">
            <datalist id="names">
            <option *ngFor="let n of nameList" [value]="n.name" >{{n.name}}</option>
          </datalist>
      </div>
      <div class="col">
        <!-- Last name -->
        <label for="dateTaken">Date Taken:</label>
        <div  class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
             name="dateTaken" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-prepend">
        <button class="btn-primary calendar fas fa-calendar-alt" (click)="d.toggle()" type="button"></button>
     </div>
    </div>
  </div> 
</div> 
     
     <!-- <hr/>
      <pre>Model: {{ model | json }}</pre> class='fas fa-calendar-alt'  -->
    
   

    <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <label for="returnBy">Return By: </label>
          <input type="text" id = "returnBy"  list="names" (change)="nameCode($event)"  class="browser-default custom-select" placeholder="Return by">
            <datalist id="names">
            <option *ngFor="let n of nameList" [value]="n.name" >{{n.name}}</option>
          </datalist>
        </div>
        <div class="col">
          <!-- Last name -->
          <label for="dateReturn">Date Return:</label>
          <div  class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dateReturn" [(ngModel)]="model2" ngbDatepicker #s="ngbDatepicker">
          <div class="input-group-prepend">
            <button class="btn-primary calendar fas fa-calendar-alt" (click)="s.toggle()" type="button"></button>
         </div> 
        </div>
        </div>
      </div>

   
    <!-- Category -->
    <div class="form-row mb-4">
    <label for="category">Category:</label>
    <input type="text" id="category" class="form-control" placeholder="category">
    </div>

    <!-- Category -->
    <label for="remarks">Remarks:</label>
    <input type="long-text" id="remarks" class="form-control" placeholder="remarks">
    
    </div><br><br>
    <!-- Newsletter -->
    <!-- <div class="row">
      <div class="col-md-6 mx-auto d-flex justify-content-center">
        <p class="mdb-checkbox" >Subscribe to our newsletter</p>
      </div>
    </div> -->
    <!-- Sign up button -->
    <div class="text-center">
    <button type="button" class="btn btn-grey">Clear All</button>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-grey">Cancel</button>
    </div>
    <!-- Social register -->
    <!-- <p>or sign up with:</p>
    <a type="button" class="light-blue-text mx-2">
      <a class="mdb-icon" fab icon="facebook"></a>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <a class="mdb-icon" fab icon="twitter"></a>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <a class="mdb-icon" fab icon="linkedin"></a>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <a class="mdb-icon" fab icon="github"></a>
    </a>
    <hr> -->
    
  </form>
</div>
<br><br> 
<hr>
<br>

<app-master-datatable></app-master-datatable>
<!-- <app-master-table></app-master-table> -->